@font-face {
  font-family: "helmetRegular";
  src: url("./Helmet-Regular.ttf");
}

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
	overflow-y: hidden;
	overflow-x: hidden;
}
body {
	background-image: url("../images/fond.png");
	color: #000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}


#logoGGJ {
	position: absolute;
	top: 10px;
	right: 10px;

}



#compte_a_rebours {
	position: relative;
	display: block;
	left: 50%;
	transform: translateX(-30%);
}

h1 {
	font-family: "helmetRegular";
	font-size: 5em;
	font-style: center;
	display: block;
	left: 50%;
	transform: translateX(24%);
	margin-bottom: 0;
	margin-top: 10px;
}

h2 {
	font-family: "helmetRegular";
	margin-top: 2px;
	font-size: 4em;
	font-style: center;
	display: block;
	left: 50%;
	transform: translateX(33%);
}

footer {
	position:absolute;
	bottom:0;
	left: 0;
	width: 100%;
	background-color: white;
	margin: 0;
}

#contentFooter {
	left: 50%;
	transform: translateX(16%);
}


#contentFooter #logo-g-besancon {
	width: 6%;
	margin: 1px 20px;
}

#contentFooter #logo-region-bfc {
	width: 4%;
	margin: 1px 20px;
}

#contentFooter #logo-bge {
	width: 5%;
	margin: 1px 20px;
}

#contentFooter #logo-jet1oeil {
	width: 6%;
	margin: 1px 20px;
}

#contentFooter #logo-temis {
	width: 10%;
	margin: 1px 20px;
}

#contentFooter #logo-geoide {
	width: 10%;
	margin: 1px 20px;
}

#contentFooter #logo-shine {
	width: 6%;
	margin: 1px 20px;
}

